@import-normalize;

:root {
  --main-transition: 250ms linear;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-top: 0;
}
